#light-mode-page {
  background-color: #031321;
  transition:.2s ease-in-out;
  color: #fff;
  height: 100vh;
  transition:.2s ease-in-out;
}

#dark-mode-page {
  height: 100vh;
  transition:.2s ease-in-out;
}

.dark-mode-container {
  display: grid;
  gap: 5rem;
  margin: 4rem 0;
}

@media (min-width: 600px) {
  .dark-mode-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 900px) {
  .dark-mode-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .dark-mode-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

#dark-mode-button {
  position: relative;
  left:0;
  top:0;
  opacity:0;
  &:checked ~ #background {
    background-color:#ebdbac;
  }
  &:checked ~ #light-switch-label {
    box-shadow:0 2px 2px #d0b57b;
    .switch {
      box-shadow:0 10px 10px -5px rgba(233,219,176,1), 0 0 0 1px rgba(0,0,0,.1), 0 0 0 4px #fff4d3,0 0 0 5px rgba(0,0,0,.1);
      &:before {
        height:37.5px;
        top:0px;
        line-height:37.5px;
        background:#fff4d3;
        color:#64bf60;
        text-shadow: 0 0 3px #38ff2e;
      }
      &:after {
        height:37.5px;
        bottom:5px;
        line-height:37.5px;
        background:#fffaea;
        box-shadow:0 5px 0 #d0b57b;
        color:#d7bf95;
        text-shadow:0 0 0px transparent;
      }
    }
  }
}

#light-switch-label {
  position:relative;
  display:block;
  height:150px;
  width:100px;
  z-index:1;
  margin:0 auto 0 auto;
  background-color:#fff4d3;
  border-radius: 10px;
  .switch {
    cursor:pointer;
    height:75px;
    width:50px;
    background:#fffaea;
    position:absolute;
    top:50%;
    left:50%;
    margin:-37.5px 0 0 -25px;
    border-radius:5px;
    overflow:hidden;
    box-shadow:0 10px 10px -5px rgba(233,219,176,0), 0 0 0 1px rgba(0,0,0,.1), 0 0 0 4px #fff4d3,0 0 0 5px rgba(0,0,0,.1);
    &:before {
      content:'ON';
      display:block;
      position:absolute;
      height:35px;
      text-align:center;
      line-height:35px;
      width:50px;
      top:5px;
      left:0;
      background:#efe0b1;
      color:#bfa371;
      border-radius:5px 5px 0 0;
    }
    &:after {
      content:'OFF';
      display:block;
      position:absolute;
      height:37.5px;
      text-align:center;
      line-height:37.5px;
      width:50px;
      bottom:0;
      left:0;
      background:#fff4d3;
      color:#a4441a;
      text-shadow: 0 0 3px #ff4e00;
      border-radius:0 0 5px 5px;
    }
  }
}

.dark-mode-feature {
  &-1 {
    .button {
      padding: 15px 30px;
      border: none;
      background: transparent;
      color: #2196f3;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 24px;
      overflow: hidden;
      transition: 0.2s;

      &:hover {
        cursor: pointer;
        color: #255784;
        background-color: #2196f3;
        box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
        transition-delay: 0.5s;
      }
    }
  }
}